{{ ansible_managed | comment }}
# Flanneld configuration options  

# etcd url location.  Point this to the server where etcd runs
FLANNEL_ETCD_ENDPOINTS="http://{{ kubernetes_master_node_name }}:2379"

# etcd config key.  This is the configuration key that flannel queries
# For address range assignment
FLANNEL_ETCD_PREFIX="{{ kubernetes_master_etcd_prefix }}"

# Any additional options that you want to pass
#FLANNEL_OPTIONS=""
